.header-text {
    font-size: 40px;
    text-align: center;
    color: white;
}

.tigertext {
    font-size: 20px;
    text-align: center;
    color: white;
}

article {
    background-color: black;
    padding: 10px;
}

figure {
    border: 2px silver solid;
    margin: 0.5em;
    padding: 20px;
    text-align: center;
    text-indent: 0;
}

figcaption {
    width: 100%;
    border: 1px black solid;
    padding-top: 10px;
    text-align: center;
    background: rgba(204, 204, 204, 0.5);
    
}

.game {
    display: inline;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
  }

img {
    max-width: 100%;
    margin: auto;
    padding: auto;
}

